.e1 .i1 {
    background: url('img/icon1.svg');
}

.e1 .i2 {
    background: url('img/icon2.svg');
}

.e1 .i3 {
    background: url('img/icon3.svg');
}

.e1 .i4 {
    background: url('img/icon4.svg');
}

.e1 .i5 {
    background: url('img/icon5.svg');
}

.e1 .i6 {
    background: url('img/icon6.svg');
}

.e1 .i7 {
    background: url('img/icon7.svg');
}

.e1 .i8 {
    background: url('img/icon8.svg');
}

.e1 .i9 {
    background: url('img/icon9.svg');
}

.e1 .i10 {
    background: url('img/icon10.svg');
}

.e1 .i11 {
    background: url('img/icon11.svg');
}

.e1 .i12 {
    background: url('img/icon12.svg');
}

.f1 .i1 {
    background: url('img/b-icon1.svg');
}

.f1 .i2 {
    background: url('img/b-icon2.svg');
}

.f1 .i3 {
    background: url('img/b-icon3.svg');
}

.f1 .i4 {
    background: url('img/b-icon4.svg');
}

.f1 .i5 {
    background: url('img/b-icon5.svg');
}

.f1 .i6 {
    background: url('img/b-icon6.svg');
}

.f1 .i7 {
    background: url('img/b-icon7.svg');
}

.f1 .i8 {
    background: url('img/b-icon8.svg');
}

.f1 .i9 {
    background: url('img/b-icon9.svg');
}

.f1 .i10 {
    background: url('img/b-icon10.svg');
}

.f1 .i11 {
    background: url('img/b-icon11.svg');
}

.f1 .i12 {
    background: url('img/b-icon12.svg');
}

.f1 .i13 {
    background: url('img/b-icon13.svg');
}

.f1 .i14 {
    background: url('img/b-icon14.svg');
}

.f1 .i15 {
    background: url('img/b-icon15.svg');
}

.g1 .i1 {
    background: url('img/c-icon1.svg');
}

.g1 .i2 {
    background: url('img/c-icon2.svg');
}

.g1 .i3 {
    background: url('img/c-icon3.svg');
}

.g1 .i4 {
    background: url('img/c-icon4.svg');
}

.g1 .i5 {
    background: url('img/c-icon5.svg');
}

.g1 .i6 {
    background: url('img/c-icon6.svg');
}

.g1 .i7 {
    background: url('img/c-icon7.svg');
}

.g1 .i8 {
    background: url('img/c-icon8.svg');
}

.g1 .i9 {
    background: url('img/c-icon9.svg');
}

.g1 .i10 {
    background: url('img/c-icon10.svg');
}

.g1 .i11 {
    background: url('img/c-icon11.svg');
}

.g1 .i12 {
    background: url('img/c-icon12.svg');
}

.tpl-screen-co .i1 {
    background-image: url('img/d-icon1.svg');
}

.tpl-screen-co .i2 {
    background-image: url('img/d-icon2.svg');
}

.tpl-screen-co .i3 {
    background-image: url('img/d-icon3.svg');
}

.tpl-screen-co .i4 {
    background-image: url('img/d-icon4.svg');
}
