@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.grid {
    display: grid;
}

.c12 {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

.tpl-layout {
    padding: 0px;
    margin: 0px

}

.grey-overlay {
    background: #2C2C2C;
    opacity: .6;
    grid-column: 1 / span 12;
    grid-row: 1 / span 17;
}



.a-top {
    grid-row: 5 / span 5;
    /* background-color: yellow; */
    height: 221px;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
}

.a-bottom {
    grid-row: 14 / span 2;
}

.a-left {
    grid-column: 3 / span 4;
    text-align: right;
    z-index: 200;
}

.a-right {
    grid-column: 7 / span 4;
    z-index: 200;
}

@media (max-width: 1200px) {
    .a-right {
        grid-column: 3 / span 5;
    }

    .a-tr {
        grid-row: 8 / span 5;
    }
  }


.a1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    padding-right: 40px;
}

.a2 {
    width: 300px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
}

.a3 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 4;
    padding-right: 65px;
}

.a4 {
    width: 400px;
    grid-column: 1 / span 1;
    grid-row: 6 / span 4
}

@media (max-width: 1200px) {
    .b2 {
        grid-column: 3 / span 4 !important;
        grid-row: 2 / span 2 !important;
    }

    .b1 {
        grid-row: 4 / span 9 !important; 
    }

    .b1 .scheme {
        width: 427px !important;
        height: 473.69 !important;
        background-size: cover;
     }

     .b3 {
        grid-row: 4 / span 9 !important;
     }

     .b3 .block {
        height: 155px !important; 
     }

     .b3 .scheme {
        width: 279.85 !important;
        height: 204.65 !important;
        background-size: cover;
     }
}

.b1 {
    grid-column: 2 / span 5;
    grid-row: 3 / span 9;
    display: flex;
    justify-content: flex-end;
}

.b1 .scheme {
    position: relative;
    right: -20px;
    background-image: url('img/Group180.svg');
    width: 513px;
    height: 568.43px;
}

.b2 {
    grid-column: 7 / span 4;
    grid-row: 3 / span 2;
}

.b3 {
    grid-column: 7 / span 3;
    grid-row: 3 / span 9;
    display: flex;
    flex-direction: column;
}

.b3 .scheme {
    background-image: url('img/Group179.svg');
    width: 335.79px;
    height: 245.59px;
    position: relative;
    left: 0px;
}

.b3 .block {
    width: 335.79px;
    height: 190px;
}

.c1 {
    grid-column: 3 / span 4;
    grid-row: 2 / span 4;
    display: flex;
    justify-content: flex-end;

}

.c2 {
    grid-column: 7 / span 4;
    grid-row: 2 / span 4;
    width: 464px;
}

.c3 {
    grid-column: 4 / span 6;
    grid-row: 6 / span 12;
    display: flex;
    justify-content: center;
}

.c3 .scheme {
    background-image: url('img/Group181.svg');
    width: 670.79px;
    height: 669.61px;
    position: absolute;
}

.c3 .com-two {
    z-index: 2000;
    position: relative;
    top: 42%
}

.c4 {
    grid-row: -8 / span 7;
    grid-column: 3 / -3;
    display: flex;
    justify-content: center;
}


.c4 .thr {
    width: 848px;
}

.c4 .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.c4 .list .col-1 {
    grid-column: 1 / span 1;
}

.c4 .list .col-2 {
    grid-column: 2 / span 1;
}

.c4 .list .col-3 {
    grid-column: 3 / span 1;
}

.c4 .list .row {
    display: block;
    margin-bottom: 32px;
}

.d1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
    background: #565454;
}

.d1 img {
    width: 100%;
    height: 100%;
}

.d2 {
    grid-column: 7 / span 3;
    grid-row: 2 / span 2
}

.e1 {
    grid-row: 2 / span 7;
    grid-column: 3 / -3;
    display: flex;
    justify-content: center;
}

.e1 .thr {
    width: 848px;
}

.e1 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.e1 .list {
    margin-top: 65px;
}

.e1 .product {
    width: 212px;
    margin-bottom: 45px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.e1 .icon {
    width: 93px;
    height: 83px;
    background-size: cover;
}

.f1 {
    grid-row: 2 / span 7;
    grid-column: 3 / -3;
    display: flex;
    justify-content: center;
}

.f1 .thr {
    width: 848px;
}

.f1 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.f1 .list {
    margin-top: 65px;
}

.f1 .product {
    width: 166px;
    margin-bottom: 35px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.f1 .icon {
    width: 135px;
    height: 90px;
    background-size: cover;
    mix-blend-mode: darken;
}

.g1 {
    grid-row: 2 / span 7;
    grid-column: 3 / -3;
    display: flex;
    justify-content: center;
}

.g1 .thr {
    width: 870px;
}

.g1 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.g1 .list {
    margin-top: 65px;
}

.g1 .product {
    width: 230px;
    margin-bottom: 65px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.g1 .icon {
    width: 202px;
    height: 96px;
    background-size: cover;
    mix-blend-mode: darken;
    margin-bottom: 32px;
}

.h1 {
    grid-row: 2 / span 7;
    grid-column: 3 / -3;
    display: flex;
    justify-content: center;
}

.h1 .thr {
    width: 870px;
}

.h1 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
}

.h1 .list {
    margin-top: 65px;
}

.h1 .product {
    margin-bottom: 65px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.tpl-screen-co .icon {
    width: 180px;
    height: 52px;
    background-size: cover;
    margin-top: 61px;
}

.k1 {
    grid-column: 3 / span 4;
    grid-row: 3 / span 2;
    text-align: right;
    padding-right: 40px;
}

.k2 {
    grid-column: 7 / span 3;
    grid-row: 3 / span 2;
    display: flex;
    flex-direction: column;
}

.k2 .com-six {
    padding-top: 14px;
}

.k3 {
    grid-column: 3 / span 4;
    grid-row: 5 / span 3;
    display: flex;
    text-align: left !important;
    flex-direction: row;
    justify-content: flex-end;
}

.k3 .list {
    width: 413px;
}

.k4 {
    grid-column: 7 / span 4;
    grid-row: 5 / span 3;
    text-align: left !important;
}

.k3 .list-p, .k4 .list-p {
    text-align: left !important;
}

.k5 {
    grid-column: 1 / span 12;
    grid-row: 8 / span 5;
    background: grey;
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 5px;
}

.k5 .slider {
    grid-row: 1 / span 8;
    grid-column: 7 / span 6;
    background: #02B3BE;
    position: relative;
    left: -20px;
    padding-right: 20px;
    width: 110%;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 5px;
}

.k5 .arrow {
    position: relative;
    left: 32px;
    grid-row: 7 / span 1;
    background-image: url('img/arrow.svg');
    background-size: cover;
    width: 73px;
    height: 44.29px;
}

.k5 .next {
    position: relative;
    grid-row: 2 / span 1;
    left: 32px;
}

.k5 .before {
    grid-row: 1 / span 8;
    grid-column: 1 / span 6;
    background-size: cover;
}

.k5 .before {
    background-image: url('img/before1.jpg');
}

.k5 .after {
    position: relative;
    left: -20px;
    grid-row: 1 / span 8;
    grid-column: 7 / span 6;
    background-size: cover;
}

.k5 .after {
    background-image: url('img/after2.jpg');
}

@media (max-width: 1200px) {
    .k1 {
        grid-row: 2 / span 2;
    }

    .k2 {
        grid-column: 3 / span 3;
        position: relative;
        top: 20px;
    }
}

.eff2 .k5 {
    grid-row: 7 / span 5 !important
}

.eff2 .slider {
    grid-column: 1 / span 6 !important;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    left: 0px;
    padding-right: 0px;
    width: 100%
}

.eff2 .next {
    grid-column: 6 / span 1 !important;

    left: 0px;
    right: 32px;
}

.eff2 .arrow {
    grid-column: 6 / span 1 !important;
    left: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}






.e1 .name, .f1 .name, .list-p {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    text-align: center;
    margin-top: 24px;

    color: #000000;
}

.g1 .name {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}



.com-one {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 80%;
    /* identical to box height, or 96px */

    font-variant: small-caps
}

.com-two {
    font-family: Inter;
    font-style: normal;
    font-weight: 650;
    font-size: 32px;
    line-height: 100%;
}

.com-three {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 110%;
    text-transform: uppercase;
}

.com-four {
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;
}

.com-five {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 610;

    color: #FFFFFF;
}

.com-six {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-transform: uppercase;
}

.com-bh2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 60.5%;
}

.com-bw2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 120px;
    line-height: 60.5%;
}

.tpl-screen-co .con {
    font-family: Inter;
    font-style: normal;
    font-weight: 380;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.tpl-screen-co .left {
    grid-column: 3 / span 4;
    align-items: flex-end;
}

.tpl-screen-co .top {
    grid-row: 2 / span 4;
}

.tpl-screen-co .right {
    grid-column: 7 / span 4;
    align-items: flex-start;
}

.tpl-screen-co .bottom {
    grid-row: 7 / span 4;
}

.tpl-screen-co .comment-left {
    width: 464px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 74px;
}

.tpl-screen-co .comment-right {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tpl-screen-co .q {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.tpl-screen-co .q2 {
    position: absolute;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}

.tpl-screen-co .product {
    display: flex;
    flex-direction: column;
}

.white {
    color: white
}

.blue {
    color: #02B3BE
}

.grey_ {
    color: #565454
}

.lightgrey_ {
    color: #A0A0A0;
}

.black {
    color: #000000;
}

.hr-g {
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 18px;
    width: 64px;
    height: 2px;
    border: 0px;

    background: #02B3BE;
}

.hidden {
    opacity: 0;
}

